<a href="https://colab.research.google.com/github/johnnysam7/Python-Beginners/blob/main/Project_3_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from datetime import date

In [20]:
Year = input('Enter your year of birth')
Month = input('Enter your month of birth')
Day = input('Enter your day of birth')

Enter your year of birth1997
Enter your month of birth1
Enter your day of birth3

In [21]:
print('Your date of birth is ',(Day+'/' , Month, Year))

Your date of birth is  ('3/', '1', '1997')

In [22]:
today_date = date.today()
today_date

datetime.date(2023, 6, 8)

In [23]:
age = today_date.year - int(Year)
print('You are ', age, 'years old')

You are  26 years old

In [24]:
if ((int(Month) == 12 and int(Day) >= 22) or int(Month) == 1 and int(Day) <=19):
  sign = ('/n leon')
  print(sign)

/n leon